[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Rules
csharp_prefer_braces = false
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_require_accessibility_modifiers = omit_if_default:warning

# Formatting
dotnet_sort_system_directives_first = true
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# Naming styles
dotnet_naming_style.underscored.capitalization = camel_case
dotnet_naming_style.underscored.required_prefix = _

dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.pascal_case.capitalization = pascal_case

# PrivateConstants
dotnet_naming_symbols.private_constants.applicable_kinds = field
dotnet_naming_symbols.private_constants.applicable_accessibilities = internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.private_constants.required_modifiers = const

dotnet_naming_rule.private_constants_pascal_case.symbols = private_constants
dotnet_naming_rule.private_constants_pascal_case.style = pascal_case
dotnet_naming_rule.private_constants_pascal_case.severity = warning

# _privateFields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = internal, private, protected, protected_internal, private_protected

dotnet_naming_rule.private_fields_underscored.symbols = private_fields
dotnet_naming_rule.private_fields_underscored.style = underscored
dotnet_naming_rule.private_fields_underscored.severity = warning

# localVariables
dotnet_naming_symbols.local_variables.applicable_kinds = local
dotnet_naming_symbols.local_variables.applicable_accessibilities = local

dotnet_naming_rule.local_variables_camel_case.symbols = local_variables
dotnet_naming_rule.local_variables_camel_case.style = camel_case
dotnet_naming_rule.local_variables_camel_case.severity = warning
